[provider.qwen]
label = "qwen"
baseurl = "https://dashscope.aliyuncs.com/compatible-mode/v1/"
default_model = "qwen3-coder-480b-a35b-instruct"
api_key = ''

[model.qwen3]
provider = { name = "qwen" }
adapter = 'OpenAI'
name = "qwen3-coder-480b-a35b-instruct"

[database.surreal]
port = "8000"
user = "admin"
pass = "admin"

[database.surreal.migration]
path = "data/migration"
