[provider.qwen]
label = "qwen"
baseurl = "https://dashscope.aliyuncs.com/compatible-mode/v1/"
default_model = "qwen3-coder-480b-a35b-instruct"
api_key = ''

[model.qwen3]
provider = { name = "qwen" }
adapter = 'OpenAI'
name = "qwen3-coder-480b-a35b-instruct"
[model.qwen3.capabilities]

[database.surreal]
port = "9900"
user = "admin"
pass = "admin"

[database.surreal.migration]
path = "data/migration"

[session.window]
size = 10

[session.prompt.en]
val = """
## Profile
{{ profile }}
## References
{{ history }}
"""
[session.prompt.zh]
val = """
## 用户档案
{{ profile }}
## 参考信息
{{ history }}
"""
