[workspace]
members = [
  "crates/macro",
  "crates/cli",
  "crates/config",
  "crates/core",
  "crates/db",
  "crates/vm",
]
resolver = "2"

[workspace.dependencies]
proc-macro2 = { version = "1.0.103", features = ["span-locations"] }
quote = "1.0.42"
syn = { version = "2.0.111", features = ["extra-traits", "full"] }
anyhow = "1.0.100"
figment = { version = "0.10.19", features = ["toml", "env"] }
futures = "0.3.31"
indexmap = { version = "2.12.1", features = ["serde"] }
regex = "1.12.2"
reqwest = { version = "0.12.24", features = ["json"] }
serde = "1.0.228"
serde_json = "1.0.145"
tokio = "1.48.0"
minijinja = { version = "2.13.0", features = ["loader"]  }
surrealdb = { version = "3.0.0-alpha.17" }
llm = { version = "1.3.6" }
rmcp = "0.10.0"
wasmi = "1.0.3"
wasmer = "6.1.0"
rune = { version = "0.14.1", features = ["emit", "std", "tokio"] }
steel-core = { version = "0.7.0" }
koto = { version = "0.16.0" }

[workspace.dependencies.wasmtime]
version = "39.0.1"
default-features = false
features = [
  "async",
  "cache",
  "gc",
  "gc-drc",
  "wat",
  "cranelift",
  "pooling-allocator",
  "component-model",
  "component-model-async",
  "threads",
  "stack-switching",
  "std"
] 
