[workspace]
members = [
  "crates/cli",
  "crates/core",
]
resolver = "2"

[workspace.dependencies]
tokio = "1.48.0"
anyhow = "1.0.100"
anyhow = "1.0.100"
figment = { version = "0.10.19", features = ["toml", "env"] }
futures = "0.3.31"
indexmap = { version = "2.12.1", features = ["serde"] }
regex = "1.12.2"
reqwest = { version = "0.12.24", features = ["json"] }
serde = "1.0.228"
serde_json = "1.0.145"
tokio = "1.48.0"
